body{
    background-image: url("math-background_23-2148146940.jpg");
    background-position: center;
    background-size: cover;
}
#player1_name_input, #player2_name_input{
  border-top: 0px;
  border-bottom: 10px;
  border-left: 0px;
  border-right: 0px;
}
.login_div1, .login_div2{
    background-color: white;
    padding: 10px;
    float: none;
	border-radius: 15px;
}
h1{
    color: white;
    font-weight: bolder;
}